.red-dot {
    color: red;
  }
  
  @font-face {
    font-family: minecraft;
    src: url(font/minecraft.ttf);
  }
  @font-face {
    font-family: nothing;
    src: url(font/nothing.ttf);
  }

  .minecraft{
    font-family: minecraft;
  }
  .nothing{
    font-family: nothing;
  }
  

  /*? ============================= */
  
.heading-h2 {
    font-size: 32px;
    color: #fff;
    font-family: nothing;
    font-weight: 900;
  }
  
  .heading-h2.divider:before {
    position: absolute;
    content: "";
  }
  
  .heading-h3 {
    font-size: 26px;
    font-weight: 900;
    color: #fff;
  }
  /* ________________________________ */
  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.project.reverse {
    flex-direction: row-reverse;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.project-image, .project-details {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.project-description {
    max-width: 80%;
    margin-bottom: 20px;
    max-width: 100%; /* Ensure full width usage */
    margin-bottom: 20px;
    text-align: justify; 
    /* text-align-last: justify; */

}


h2 {
    margin-top: 0;
}

.read-more-button {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 15px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: #000000;
    color: #120f0f;
}



@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .project.reverse {
        flex-direction: column;
    }

    .project-image, .project-details {
        width: 100%;
        text-align: center;
    }

    .project-details {
        padding: 10px;
    }
    .project-description {
        text-align: center;
    }
}


.getintouchtext{
    font-family: minecraft;
    font-size: 5vw;
}

@media (max-width: 480px) {
    .getintouchtext {
        text-align: center;
        font-size: 2rem; 
    }
}

.centered-paragraph {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    /* font-weight: bold; */
    font-size: 1.5rem; 
    margin: 20px; 
    color: white;
}
.grey-warning{
    color:grey;
}